@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-color: rgba(38, 38, 38, 1);
    --highlight-color1: rgba(0, 0, 0, 1);
    --highlight-color2: rgba(255, 195, 0, 1);
    --highlight-color3: rgba(121, 163, 61);
    --highlight-color4: rgb(218, 72, 92);
    --fonts-style1: 'Poppins';
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: var(--fonts-style1);
    background-color: var(--main-color);
    max-height: 100vh;
    color: white;
}

th {
    background-color: var(--highlight-color4);
    padding: 0 10px;
}

.showOrders {
    position: relative;
    height: 80vh;
    margin: 0 auto;
}

.orderlists {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
}

table {
    border-radius: 10px; 
    border-collapse: collapse;
}

td {
    padding: 5px 20px;
}

tr:nth-child(even) {
    background-color: var(--highlight-color2);
    color: black;
}

.showOrders h2 {
    color: var(--highlight-color2);
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
}
.controlPanel {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 50px;
}

.showingpage {
    position: absolute;
    left: 0;
}

.pagecontrol {
    position: absolute;
    right: 0;
}

.pagenumbers { 
    display: inline-block;
}

.controlPanel a {
    border: 1px solid;
    padding: 5px 15px;
    text-decoration: none;
    color: white;
}

.controlPanel a:focus {
    border-color: var(--highlight-color3);
}